@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}




.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo{
    font-size: 32px;
    color: #d9f9fa;
    text-decoration: none;
    font-weight: 700;
    font-family: Raleway;

}

.navbar a {

    position: relative;
    font-size: 21px;
    color: #f0feff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
   

}

.navbar a::before {

    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #f0feff;
    transition: .3s;

}

.navbar a:hover::before {

    width: 100%;

}

 
body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color:#E2FDFF ;
   font-family: 'Open Sans', sans-serif;
   color: #260605;
   text-color
}
select {
   -webkit-appearance:none;
   -moz-appearance:none;
   -ms-appearance:none;
   appearance:none;
   outline:0;
   box-shadow:none;
   border:0!important;
   background: #5c6664;
   background-image: none;
   flex: 1;
   padding: 0 .5em;
   color:#fff;
   cursor:pointer;
   font-size: 1em;
   font-family: 'Open Sans', sans-serif;
}
select::-ms-expand {
   display: none;
}

.dropdown {
  display: inline-block;
  position: relative;
  
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #00A4BD;
}

button {
  colour: #FFFFFF ;
  padding: 8px 22px;
  border-radius: 6px;
  background: #0077ff;
}